@font-face {
  font-family: opensans-regular;
  src: url("https://supernoided.github.io/fonts/OpenSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: opensans-bold;
    src: url("https://supernoided.github.io/fonts/OpenSans-Bold.ttf");
  font-weight: 700;
}

@media (min-width: 961px) {
  .header__top,
  .button,
  .label,
  .section__features,
  .article__motivation,
  .footer {
    font-size: 18px;
  }
  
  .logo {
    width: 10.61em;
  }
  
  .header__top {
    padding: 2.8% 8.68% 6.91% 8.68%;
  }

  .header__top__title {
    font-size: 90px;
    line-height: 1;
    margin-top: 16.6%;
  }
    
  .button__container {
    margin-top: 12.38%;
  }
  
  .logo__store {
  width: 36px;
  height: 42px;
  }
  
  .button__text {
    font-size: 14px;
  }
  
  .label:nth-child(odd) {
    margin-right: 1.38em;
  }

  .label:nth-child(even) {
    margin-left: 1.38em;
  }
  
  .button {
    width: 17.22em;
    height: 77px;
    border: 0;
    justify-content: center;
  }
  
  .athletes__preview,
  .players__preview {
    position: absolute;
  }
  
  .article__features:nth-child(odd) .article__title {
    padding-left: 52%;
  }
  
  .article__features:nth-child(odd)  .feature__header {
    padding-left: 51%;
  }
  
  .article__features:nth-child(odd) .feature__text {
    padding-left: 51%;
  }
  
  .article__title {
    font-size: 80px;
    padding-left: 9.63%;
    padding-right: 9.63%;
    padding-top: 4.68%;
    margin-bottom: 1.45%;
  }
  
  .athletes__preview {
    width: 32%;
    top: 3%;
    left: 17%;
  }
  
  .players__preview {
    max-width: 49%;
    top: 3%;
    left: 46%;
  }
  
  .feature {
    padding-top: 2.6%;
    padding-bottom: 2.91%;
    padding-left: 9.6%;
    padding-right: 6%;
  }
  
  .feature__header {
    width: 43%;
  }
  
  .feature__title {
    font-size: 32px;
  }
  
  .feature__text {
    font-size: 20px;
    width: 43%;
    margin-top: 0.93%;
  }
  
  .feature__number {
    font-size: 18px;
  }
  
  .motivation__container {
    width: 50%;
    padding-top: 13.28%;
    padding-bottom: 11%;
  }
  
  .motivation__preview {
    max-width: 50%;
  }
  
  .motivation__number {
    font-size: 24px;
    top: 30%;
    left: 93%;
    padding: 4% 5%;
  }
  
  .motivation__title {
    font-size: 4.16vw;
    padding-left: 12.81%;
    padding-right: 19.27%;
  }
  
  .motivation__text {
    font-size: 24px;
    margin-top: 4.27%;
    padding-left: 13.33%;
    padding-right: 19.27%;
  }
  
  .article__motivation:nth-child(even) .motivation__title {
    padding-right: 15.33%;
    padding-left: 19.56%;
  }

  .article__motivation:nth-child(even) .motivation__text {
    padding-left: 19.27%;
    padding-right: 13.33%;
  }
  
  .article__motivation:nth-child(even) .motivation__number {
    left: -7%;
  }
  
  .footer {
    padding: 11.92% 8.68% 2.7% 8.68%;
  }
  
  .footer__title__top {
    font-size: 4.16vw;
    padding-left: 6.5%;
  }
  
  .footer__title__sub {
    font-size: 30px;
    padding-left: 4.16vw;
    margin-top: 6.5%;
  }
  
  .button__footer {
    margin-top: 10.7%;
  }

  .logo__footer {
    margin-top: 18.5%;
  }
c}

@media (min-width: 641px) and (max-width: 960px) {
  .header__top,
  .button,
  .label,
  .section__features,
  .article__motivation {
    font-size: 18px;
  }
  
  .feature,
  .footer {
    font-size: 16px;
  }
  
  .logo {
    width: 11.38em;
  }
  
  .header__top {
    padding: 2.34% 9.4% 13.46% 9.4%;
  }
  
  .header__top__title {
    font-size: 64px;
    line-height: 1.18;
    margin-top: 21.09%;
  }
  
  .button__text {
    font-size: 14px;
  }
    
  .button__container {
    width: 100%;
    margin-top: 38.54%;
  }
  
  .logo__store {
    width: 36px;
    height: 42px;
  }
  
  .label {
    width: 47.5%;
  }
  
  .label:nth-child(odd) {
    margin-right: 0.86em;
  }

  .label:nth-child(even) {
    margin-left: 0.86em;
  }
  
  .button {
    width: 100%;
    height: 4.27em;
    border: 0;
    justify-content: center;
  }
  
  .athletes__preview,
  .players__preview {
    position: absolute;
  }
  
  .athletes__preview {
    max-width: 50%;
    top: 15%;
    left: -14.5%;
  }
  
  .players__preview {
    width: 72%;
    top: 5%;
    left: 52%;
  }
  
  .article__features:nth-child(odd) .article__title {
    padding-left: 38.5%;
  }
  
  .article__features:nth-child(odd)  .feature__header {
    padding-left: 37.8%;
  }
  
  .article__features:nth-child(odd) .feature__text {
    padding-left: 37.8%;
  }
  
  .article__container {
    padding-top: 7.94%;
  }
  
  .article__title {
    font-size: 80px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 0.5%;
  }
  
  .feature {
    padding-top: 4.06%;
    padding-bottom: 4.06%;
  }
  
  .feature__header {
    width: 54%;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .feature__title {
    font-size: 32px;
  }
  
  .feature__text {
    font-size: 16px;
    width: 54%;
    padding-left: 5%;
    margin-top: 2.63%;
  }
  
  .feature__number {
    font-size: 1em;
  }
  
  .article__motivation {
    flex-wrap: wrap;
  }
  
  .motivation__container {
    width: 100%;
    padding-top: 10%;
    padding-bottom: 12%;
  }
  
  .motivation__preview {
    width: 100%;
  }
  
  .motivation__number {
    font-size: 24px;
    bottom: -5%;
    left: 4%;
    padding: 4% 5%;
  }
  
  .motivation__title {
    font-size: 80px;
    padding-left: 5%;
    padding-right: 10%;
  }
  
  .motivation__text {
    font-size: 24px;
    margin-top: 4.5%;
    padding-left: 5.5%;
    padding-right: 10%;
  }
  
  .footer {
    padding: 16.4% 1.5% 3.12% 1.5%;

  }
  
  .footer__header {
    flex-direction: column;
  }
  
  .footer__title__container {
    margin-top: 9%;
    text-align: center;
  }
  
  .footer__title__top {
    font-size: 10.4vw;
  }
    
  .footer__title__sub {
    font-size: 4.69vw;
    margin-top: 0.8em;
  }
  
  .button__padding {
    padding-left: 9.4%;
    padding-right: 9.4%;
  }
  
  .button__footer {
    margin-top: 36.1%;
  }

  .logo__footer {
    margin-top: 7.16%;
  }
}

@media (max-width: 640px) {
  .header__top,
  .button,
  .label,
  .section__features,
  .article__motivation {
    font-size: 14px;
  }
  
  .footer__header {
    font-size: 10px;
  }
  
  .logo {
    width: 41.5%;
  }
  
  .header__top {
    padding: 10.31% 6% 26.25% 6%;
  }
  
  .header__top__title {
    font-size: 8.75vw;
    line-height: 1.2;
    margin-top: 21.09%;
  }
    
  .button__container {
    margin-top: 22.55%;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
  }
  
  .logo__store {
    width: 20px;
    height: 24px;
  }
  
  .label {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .button {
    width: 100%;
    height: 35px;
    border: 0;
    padding-left: 30%;
  }
  
  .label:nth-child(n+2) {
    margin-top: 17px;
  }
  
  .button__text {
    font-size: 2.1vw;
  }
  
  .article__container {
    padding-top: 4.68%;
  }
  
  .article__title {
    font-size: 50px;
    padding-left: 6.4%;
    padding-right: 6.4%;
    margin-bottom: 1.45%;
  }
  
  .feature {
    padding-top: 15.4%;
    padding-bottom: 15.4%;
  }
  
  .feature__header {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .feature__title {
    font-size: 23px;
  }
  
  .feature__text {
    font-size: 15px;
    width: 90%;
    padding-left: 5%;
    margin-top: 5.3%;
  }
  
  .athletes__preview {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .players__preview {
    width: 89%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .article__motivation {
    flex-wrap: wrap;
  }
  
  .motivation__container {
    width: 100%;
    padding-top: 10%;
    padding-bottom: 23.5%;
  }
  
  .motivation__preview {
    width: 100%;
  }
  
  .motivation__number {
    font-size: 14px;
    bottom: -5%;
    left: 4%;
    padding: 4% 5%;
  }
  
  .motivation__title {
    font-size: 28px;
    padding-left: 5%;
    padding-right: 10%;
  }
  
  .motivation__text {
    font-size: 16px;
    margin-top: 6%;
    padding-left: 5.5%;
    padding-right: 10%;
  }
  
  .footer {
    padding: 30.8% 6% 2.7% 6%;
    padding-bottom: 2.7%;
  }
  
  .footer__header {
    flex-direction: column;
  }
  
  .footer__title__container {
    margin-top: 16.8%;
    text-align: center;
  }
  
  .footer__title__top {
    font-size: 9vw;
  }
  
  .footer__title__sub {
    font-size: 4.4vw;
    margin-top: 1em;
  }
  
  .button__footer {
    margin-top: 20%;
  }

  .logo__footer {
    margin-top: 25.6%;
  }
}

h1,
h2,
h3,
body,
label,
p,
img {
  margin: 0;
  padding: 0;
}

body {
  font-family: opensans-regular, sans-serif;
  min-width: 320px;
}

.header__top,
.page,
.footer {
  box-sizing: border-box;
}

.header__top,
.logo,
.header__top__title,
.button__container,
.article__features,
.feature,
.article__motivation,
.motivation__preview,
.footer,
.footer__header {
  position: relative
}

.logo,
.header__top__title,
.button__container,
.athletes__preview,
.players__preview,
.motivation__number,
.footer__header {
  z-index: 1;
}

.header__top,
.article__title,
.feature__title,
.motivation__title,
.footer__title__top,
.footer__title__sub,
.button__text {
  text-transform: uppercase;
}

.header__top {
  flex-direction: column;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("https://supernoided.github.io/img/football_1280.jpg");
  background-size: cover;
}

.header__top,
.header__top::before,
.footer,
.footer::before {
  background-color: #0A0E34;
}

.header__top::before,
.text__hidden,
.motivation__number,
.footer::before {
  position: absolute;
}

.header__top::before,
.footer::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}

.logo,
.button__container {
  margin-left: auto;
  margin-right: auto;
}

.logo {
  cursor: pointer;
}

.svg {
  fill: #ffffff;
}

.header__top__title,
.article__title,
.feature__title,
.feature__number,
.button__text__storename,
.motivation__number,
.motivation__title,
.footer__title__top {
  font-family: opensans-bold;
}

.header__top__title {
  display: block;
  letter-spacing: 0.05em;
  text-align: left;
}

.title__top2 {
  text-align: right;
  float: right;
}

.header__top,
.button__container,
.button,
.section__features,
.feature__header,
.article__motivation,
.footer__header {
  display: flex;
}

.button__container,
.footer__header {
  justify-content: center;
}

.button,
.footer__header {
  align-items: center;
}

.button {
  border: 0;
  border-radius: 2.13em;
  background-color: #5E42B0;
  cursor: pointer;
}

.button:hover {
  border: 2px solid #9173E6;
}

.button:focus {
  background-color: #7F6DB3;
  border-color: #7F6DB3;
}

.button__text {
  margin-left: 1.85em;
  text-align: left;
  line-height: 1.25;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.logo__store {
  fill: #ffffff;
}

.text__hidden {
  content: "";
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.section__features {
  flex-direction: column;
  overflow: hidden;
}

.article__title {
  color: #E7E7E7;
}

.feature:nth-child(3n+2) {
  background-color: #F5F4FB;
}

.feature:nth-child(3n+3) {
  background-color: #0A0E34;
  color: #ffffff;
}

.feature__right:nth-child(3n+3) {
  background-color: #5E42B0;
}

.feature__title {
  color: #C1C1C1;
  line-height: 0.97;
  letter-spacing: 0.05em;
  padding-left: 0.27em;
}

.feature__number {
  color: #000000;
}

.feature__number::after {
  content: "";
  display: block;
  width: 1.16em;
  height: 0.27em;
  margin-top: 0.16em;
  border-radius: 0.16em;
  background-color: #5E42B0;
}

.feature__right:nth-child(3n+3) .feature__number::after {
  background-color: #EFEFEF;
}

.feature__left:nth-child(3n+3) .feature__number::after {
  background-color: #ffffff;
}

.feature__left:nth-child(3n+3)  .feature__number {
  color: #9173E6;
}

.feature__text {
  line-height: 1.4;
  letter-spacing: 0.05em;
}

.features__list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.section__motivation {
  display:flex;
  flex-direction: column; 
}

.article__motivation:nth-child(even) {
  flex-direction: row-reverse;
}

.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.motivation__number {
  display: block;
  text-align: center;
  color: #ffffff;
  background-color: #5E42B0;
}

.motivation__number::after {
  content: "";
  display: block;
  width: 1.125em;
  height: 0.2em;
  margin-top: 0.12em;
  border-radius: 0.12em;
  background-color: #8F7BC8;
}

.motivation__container {
  display: flex;
  flex-direction: column;
}

.motivation__title {
  color: #E6E6E6;
  line-height: 0.75;
}

.motivation__text {
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("https://supernoided.github.io/img/game_1920.jpg");
  background-size: cover;
}

.icon__download {
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  border-radius: 1.66em;
  background: linear-gradient(0deg, #50329C, #7751DB);
}

.logo__img {
  width: 7.22em;
  height: 4.72em;
  fill: #ffffff;
}

.footer__title__container {
  display: block;
}

.footer__title__top {
  line-height: 0.75;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer__title__sub {
  line-height: 1.16;
  color: #A496CA;
}
